---
title: 1.3.1 Info and Relationships (A)
---

# <%= current_page.data.title %>

## What WCAG says

> Information, structure, and relationships conveyed through presentation can be programmatically determined or are available in text.

[Understanding 1.3.1 Info and Relationships](https://www.w3.org/WAI/WCAG22/Understanding/info-and-relationships)

## What this means

When the structure of content is presented visually, such as in tables, lists and headings, that structure must also be understandable to assistive technologies such as screen readers and speech recognition tools.

## Why it matters

Structure is important to understand information correctly. If different content types were only represented visually, people using assistive technology may miss information.

## How to check

Use your browser's developer tools, assistive technologies or a plugin such as WAVE to check that all content uses the correct HTML (Hypertext Markup Language). This includes:

* tables using `<table>`, `<tr>`, `<th>`, and `<td>` elements
* lists using `<ul>`, `<ol>` and `<li>` elements
* headings using `<h1>` to `<h6>` elements
* form fields have descriptive labels using `<label>`
* radio buttons or checkboxes have a `<fieldset>` element to group them, and a `<legend>` element to provide a label for the group
* form fields with format requirements or other additional information have hints available to all users using HTML or text 

If HTML cannot be used to convey all visual relationships then ARIA (Accessible Rich Internet Applications) code may also be used. However, standard HTML should be used wherever possible.

[How to test in detail for 1.3.1 Info and Relationships](https://github.com/alphagov/wcag-primer/wiki/1.3.1)

## Good examples

### Headings and lists marked up correctly

When text heading up a section of content is correctly coded as a heading, it allows people to navigate between those headings using assistive technology. It also helps to break up the page visually. This also applies to lists. When correctly coded, a screen reader will announce how many list items there are. 

The following screenshot shows a heading of "Who can have an NHS account" followed by a bullet point list containing 2 items.

<figure>
    <%= image_tag "../images/131/131-pass-heading-and-list.png", { :alt => 'Heading followed by text and a list' } %>
</figure>

### Table with correctly marked up headers

When a table's header cells are correctly coded, a screen reader user will be able to navigate around the table, as each data cell will announce the relevant header.

The header cells are usually in the first row, and sometimes in the first column.

In the following example, a screen reader should read "Second album" when navigating across to the data cell "Post". This is essential so the user knows what the content is referring to.

This is achieved by using correctly marked up table header (`<th>`) tags.

<figure>
    <%= image_tag "../images/131/131-pass-table-headers.png", { :alt => 'Table with a header row in bold, showing the first two albums by Kate Bush (The Kick Inside and Lionheart), Björk (Debut and Post), and FKA Twigs (LP1 and Magdalene)' } %>
</figure>

The top row of the table uses code `<th scope="col">`, meaning a table header (such as "Second album") that is linked to the rest of its column.

## Common mistakes

### Heading not correctly marked up

A common issue is where headings have been indicated using only bold and large text, rather than using a heading element such as `<h1>`. This makes navigation much more difficult for people who navigate by headings.

<figure>
    <%= image_tag "../images/131/131-fail-not-a-heading.png", { :alt => 'Large, bold text followed by smaller text' } %>
</figure>

Code:

```HTML
<!-- Don't do this -->
<p style="font-size: 36px; font-weight:bold">
  I look like a heading but am not
</p>
<p>The above text is simply large, bold text.</p>
```
### Further examples

In general, this success criterion fails when the code does not match the visual appearance. Some more examples of failures are:

* tables using styles to present the appearance of a table, instead of the correct HTML
* table header rows rely on styled text instead of the correct HTML
* a list of items is presented using line breaks to separate each item, without the correct HTML
* headings rely on styled text instead of the correct HTML
* headings use the proper HTML markup, but do not follow the hierarchy of content on the page (starting with `<h1>`, then `<h2>` for each section, `<h3>` for each sub-section and so on)
* form fields have labels but they are not associated with the relevant field
* form fields have format requirements or additional information, but this is not associated with the corresponding field
* sets of radio buttons or checkboxes are not grouped inside a `<fieldset>` element, and do not have a `<legend>` element to provide a label for the group

### Related success criteria

This success criterion is closely related to several others. In some cases, more than one of these criteria might fail at the same time:

* [1.1.1 Non-text Content](1.1.1.html) covers images and symbols having appropriate alternative text.
* [1.3.2 Meaningful Sequence](1.3.2.html)  makes sure that the reading order of content is logical.
* [2.4.6 Headings and Labels](2.4.6.html) makes sure that labels are descriptive.
* [2.5.3 Label in Name](2.5.3.html) makes sure that a component's name (in the code) contains the visible label.
* [3.3.2 Labels or Instructions](3.3.2.html) makes sure that elements have labels, but does not require them to be linked to each other.
* [4.1.2 Name, Role, Value](4.1.2.html) interactive elements having appropriate names, roles and values, regardless of how they appear visually.
