---
title: 3.1.1 Language of Page (A)
---

# <%= current_page.data.title %>

## What WCAG says:  

The default human language of each web page can be programmatically determined.

[Understanding 3.1.1 Language of Page](https://www.w3.org/WAI/WCAG22/Understanding/language-of-page.html)

## What this means  

A web page's code must explicitly state what language it's written in.

## Why it matters  

The page's language can alter how text-to-speech software, such as screen readers, pronounces words.  

It can also help in other areas, such as allowing search engines to provide results in a user's own language.

## How to check  

Using your browser's developer tools, check that the page's `<html>` element has a `lang` attribute with the correct value.  

The value must be a valid language tag. Some examples of language tags are:

* `cy` -- Welsh
* `en` -- English
* `en-GB` -- British English
* `en-US` -- American English
* `uk-Cyrl` -- Ukrainian written in Cyrillic script
* `uk-Latn` -- Ukrainian written in Latin script
* `en-Brai-GB` -- British English in Braille script  

[How to test in detail for 3.1.1 Language of Page](https://github.com/alphagov/wcag-primer/wiki/3.1.1)

## Good example

```html
<html lang="en">
  <body>
    <h1>Hello world</h1>
  </body>
</html>
```

This passes because the `lang` attribute's value matches the language of the page.

## Common mistakes

### No page language  

```html
<html>
  <body>
    <h1>Hello world</h1>
  </body>
</html>
```

This fails as the page's `lang` attribute is missing.

### Incorrect page language  

```html
<html lang="en">
  <body>
    <h1>Hola Mundo</h1>
  </body>
</html>
```

This fails as the page's `lang` attribute does not match the language of the content.


### Invalid page language  

```html
<html lang="English">
  <body>
    <h1>Hello world</h1>
  </body>
</html>
```

This fails as the `lang` attribute's value is not valid.

## Related success criteria  

The `lang` attribute does not necessarily have to match the language of the majority of the page, as long as each part of the page is correctly marked up to meet [3.1.2 Language of Parts (AA)](3.1.2.html).

## Useful resources

* [Working with language on the Web - W3C Internationalization tutorial](https://www.w3.org/International/tutorials/language-decl/)
* [Why use the language attribute? - W3C](https://www.w3.org/International/questions/qa-lang-why)
* [Language on the Web - W3C](https://www.w3.org/International/getting-started/language)
* [BCP 47 language tags - MDN](https://developer.mozilla.org/en-US/docs/Glossary/BCP\_47\_language\_tag)