---
title: 3.1.1 Language of page (A)
---

# <%= link_to current_page.data.title, "http://www.w3.org/TR/UNDERSTANDING-WCAG20/meaning-doc-lang-id.html" %>

The written language of the page must be identified in the code of the web page. This makes sure that screen readers automatically use the correct speech libraries for accent and pronunciation.

## Requirements / What to do?

*   The language is identified using the `lang` attribute of the `<span class="nt"><html</span>` element.

## Common mistakes

*   No `lang` attribute is present on the `<span class="nt"><html></span>` element.
*   The `lang` attribute is present on the `<span class="nt"><html></span>` element, but it incorrectly identifies the language of the page.

## Useful resources

*   [Working with Language on the Web - W3C i18n tutorial](https://www.w3.org/International/tutorials/language-decl/)
*   [Language on the Web](https://www.w3.org/International/getting-started/language)
