$govuk-font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica",
  sans-serif;

@import "govuk_tech_docs";

.app-internal-banner {
  margin: govuk-spacing(5) 0;
  padding-bottom: govuk-spacing(2);
  border-bottom: 1px solid govuk-colour("mid-grey");

  p {
    margin: 0;
  }
}
