$govuk-font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica",
  sans-serif;

@import "govuk_tech_docs";

// Style figure/figcaption elements
.technical-documentation > figure {
  margin: 0;
  border: 1px solid govuk-colour("dark-grey");
  line-height: 0; // needed to remove extra whitespace beneath images
  @include govuk-responsive-margin(5, $direction: bottom);

  figcaption {
    @include govuk-font(16);
    @include govuk-responsive-padding(2);
    border-top: 1px solid govuk-colour("dark-grey");
  }
}
