<div class="app-internal-banner">
  <p><strong>The WCAG Primer is intended for use by the UK cross government accessibility community. <a href="https://docs.google.com/forms/d/e/1FAIpQLSeYXJVDj2D8WvrZsq0BgrGzhuvxjnZWm1jNzcABEr0bTjKqXg/viewform">Complete our survey here</a>.</strong></p>
</div>